<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(type='text/css' rel='stylesheet' href="/css/materialize.css" media='screen,projection')
        script.
        title Express Template
    body
        include navbar.pug
        .container
            block content
        script(src="/js/materialize.min.js")
        script.
            document.addEventListener('DOMContentLoaded', function() {
                M.AutoInit(); //- Inicializamos todo
            });
